{% extends 'home.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block additionalStyles %} <link rel="stylesheet" href="{% static 'Css/alert.css'%}">{% endblock %}
</head>
<body>
    {% block content %}
    <div class="district_alert">
    <a href="{% url 'Kathmandu_alert'%}" class="newanchor1">Kathmandu_alert</a>
    <a href="{% url 'Lalitpur_alert'%}" class="newanchor1">Lalitpur alert</a>
    <a href="{% url 'Bhaktapur_alert'%}" class="newanchor1">Bhaktapur_alert</a>
</div>
    {% endblock %}
    
</body>
</html>