{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block additionalStyles %} <link rel="stylesheet" href="{% static 'Css/forms2.css'%}">{% endblock %}


   

</head>
<body>
    <div class="search">
    {% block content%}
    <form  method="POST">
        {% csrf_token%}
        
        <input type="text" name="searchname" id=""><input type="submit" value="ok">
    </form>
</div>

<div class="customername">
    
    {% for cus in customer %}
    
    
    {{cus.id}}.<a href="{% url 'showtransactions' id=cus.id%}">{{cus.Name}}</a><br><br>
   
    {% endfor %}
</div>
    {% endblock%}
</body>
</html>