{% extends 'home.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content%}
   
    
    {% if customer %}
    {% for customer in customer %}
   
    <a href="{% url 'showtransactions' id=customer.id%}">{{customer.Name}}</a>
    {%endfor%}
    {%else%}
    <h1>not found or you forget to search </h1>
    {% endif%}
    {% endblock %}



  
   
</body>
</html>